*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
  background-color: $white;
}


body {
  // box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: black;
  height: 100%;
  width: 100%;
}