*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
  background-color: $white;

  @media (max-width: 1450px) {
    font-size: 50%;
  }

  @media (max-width: 1200px) {
    font-size: 46%;
  }

  @media (max-width: 1050px) {
    font-size: 35%;
  }

  @media (max-width: 800px) {
    font-size: 30%;
  }
}


body {
  // box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: black;
  height: 100%;
  width: 100%;
}