$white: rgb(243,243,243);

$very-light-grey: rgb(231, 231, 231);
$light-grey: rgb(211, 211, 211);
$medium-grey: rgb(150, 150, 150);
$heavy-grey: rgb(58, 58, 58);

$aqua: rgb(17, 175, 175);

$loading-icon-dark: rgba(0, 0, 0, .55);
$loading-icon-light: rgba(0,0,0, .05);