.article {
  position: relative;
  z-index: 30;
  width: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $heavy-grey;
  background-color: $white;

  &__title {
    // width: 30rem;
    // border: 2px solid black;
    border-bottom: 1px solid $light-grey;
    padding: 1rem 0;
    margin-bottom: 2px;

    &-text {
      text-align: center;
      font-size: 2.5rem;
      font-weight: 600;
      font-family: 'Cormorant Garamond', serif;
    }
  }

  &__date {
    width: 100%;
    margin-left: 1rem;
    color: $medium-grey;
    font-size: 1.4rem;
    // border: 2px solid black;
  }

  &__image {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin: 2rem;
    border-radius: 2px;
    overflow: hidden;
    transition: transform 200ms ease-out;
    
    &-img {
      width: 38rem;
      box-shadow: 0 0 1.5rem $light-grey;
      border: 2px solid $light-grey;
      width: 38rem;
    }

    &-btn {
      cursor: pointer;
      border: none;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 2rem;
      left: 5rem;
      font-size: 3rem;
      letter-spacing: 1px;
      color: $very-light-grey;
      filter: drop-shadow(0 0 1px $heavy-grey);
      transition: transform 200ms ease-in, opacity 200ms linear;
      opacity: 0;

      .bi {
        width: 2.5rem;
        height: 2.5rem;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
      
    &:hover {
      transform: scale(1.05);

      .article__image-btn {
        opacity: 1;
      }
    }
  }

  &__description {
    margin: 1rem 2rem;
    font-size: 1.6rem;
    color: lighten($heavy-grey, 20%);
  }

  &__content {
    font-size: 1.4rem;
    color: $heavy-grey;
  }

  &__full-article-btn {
    position: relative;
    left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 1rem;
    border: 2px solid $light-grey;
    border-radius: 2px;
    background-color: $very-light-grey;
    padding: 1rem 2rem;
    color: $heavy-grey;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    box-shadow: 2px 2px 1rem $light-grey;
    transition: border 100ms linear;

    &:hover {
      border: 2px solid $medium-grey;
    }

    .bi {
      padding: 2px;
      margin-left: 1rem;
      width: 2.4rem;
      height: 2.4rem;
      color: $heavy-grey;
    }
  }
}