.body {
  z-index: 15;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  top: 14rem;
  left: 50%;
  transform: translateX(-50%);
  border-right: 1px solid $light-grey;
  border-left: 1px solid $light-grey;
  width: 110rem;
  height: 200%;
  margin: 2rem 0;
  overflow-x: scroll;

  @media (max-width: 600px) {
    width: 55rem;
  }

  @media (max-width: 500px) {
    // margin-top: 32rem;
  }

  &.loading {
    justify-content: center;
    height: calc(100% - 20rem);
  }

  .no-results {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
    line-height: 4rem;
    color: $heavy-grey;

    &__var {
      font-style: italic;
      font-weight: 300;
      padding-right: .6rem;
    }

    &__category {
      text-transform: capitalize;
    }

    &__query {
      text-align: center;
      margin: 0 10rem;
    }

    &__btn {
      margin: 4rem;
    }
  }

  &__full-img {
    z-index: 40;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0, 0.6);
    visibility: hidden;
    opacity: 0;

    transition: visibility 0s linear, opacity 200ms ease-in-out;

    &--img {
      margin: 10rem;
      width: 100rem;
      border-radius: .6rem;
      border: 2px solid $medium-grey;
      box-shadow: 0 0 4rem $medium-grey;
    }

    &--btn {
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
      margin: 2rem;
      transition: transform 100ms ease-in-out;
      
      .bi {
        color: $light-grey;
        width: 4rem;
        height: 4rem;
        transition: color 100ms linear;
      }

      &:hover {
        transform: scale(.9);

        .bi {
          color: $white;
        }
      }
    }
  }
}