.card {
  padding: 1rem;
  border-radius: .6rem;
  background-color: $white;
  border: 2px solid $light-grey;
  margin: 2rem;
  box-shadow: 2px 2px .5rem $light-grey;
  transition: border 100ms linear;

  &:hover {
    border: 2px solid $medium-grey;
  }
}