.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $heavy-grey;
  
  &__title {
    font-size: 3rem;
  }

  &__message {
    font-size: 2rem;
    color: $medium-grey;
  }

  &__btn {
    margin: 3rem;
  }
}