.navbar {
  z-index: 20;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid $light-grey;
  height: 8rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 8rem 6rem;
  user-select: none;
  background-color: $white;
  // box-shadow: 0 0 2rem $light-grey;  

  &__selector {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 1;    
  }

  &__title {
    position: relative;
    top: 1rem;
    grid-column: 2;
    grid-row: 1;
    font-family: 'Cormorant Garamond', serif;
    font-size: 5rem;
    color: $heavy-grey;
    text-align: center;
  }

  &__search-box {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  &__categories {
    grid-column: 1 / span 3;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    background-color: $white;
    
    ul {
      box-shadow: 0 2rem 2rem -2rem $light-grey;
      list-style-type: none;
      border-bottom: 1px solid $light-grey;
      color: $medium-grey;
      padding: 0 5rem;
      background-color: $white;
      transition: color 100ms linear;
      
      &:hover {
        color: $heavy-grey;
      }
      
      li {
        font-size: 2.2rem;
        font-family: 'Cormorant Garamond', serif;
        font-weight: 700;
        margin: .5rem 2rem;
        padding: 1rem 2rem;
        display: inline-block;
        cursor: pointer;
        transition: background-color 100ms linear;
        border-radius: 2px;

        &:hover {
          background-color: $very-light-grey;
        }
      }
    }
  }
}
